/* RESET */

* {
    margin: 0;
    padding: 0;
}

html {
    background-color: #0A042C;
    font-size: 62.5%; /* Sets base font size to 10px for easier rem calculations */
}

body {
    height: 100vh;
    overflow: hidden;
}

/* FONTS & TEXT STYLES */

@font-face {
    font-family: "CormorantGaramond";
    src: url("Fonts/CormorantGaramond-Regular.ttf");
}

@font-face {
    font-family: "JosefinSans";
    src: url("Fonts/JosefinSans-VariableFont_wght.ttf");
}

.menu_link,
#copyright {
    font-family: JosefinSans;
    font-size: 2em;
    color: #F3F3F3;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
}

#link {
    font-family: JosefinSans;
    font-size: 2em;
    font-weight: 300;
    color: #F3F3F3;
    cursor: pointer;
    text-decoration: none;
}

p {
    font-family: JosefinSans;
    text-decoration: none;
    font-size: 2.2rem;
    font-weight: 200;
    line-height: 3rem;
    color: #F3F3F3;
}

.key {
    font-family: CormorantGaramond;
    font-weight: 600;
    text-decoration: none;
    font-size: 2.4rem;
    line-height: 3rem;
    color: #F3F3F3;
}

.note {
    position: absolute;
    left: 2vw;
    bottom: 5vh;
    font-size: 1.8rem;
    color: #f3f3f344;
}

/* LAYOUT & STRUCTURE */

.menu-toggle,
.menu-links {
    display: none;
}

.desktop-menu {
    display: flex;
    gap: 5rem;
}

.menu {
    display: flex;
    gap: 8em;
    height: 10vh;
    align-items: center;
    padding-left: 2vw;
    padding-top: 2vw;
}

.main {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    height: 90vh;
    gap: 2vw;
    padding: 10vh 2vw 5vh 2vw;
}

.info {
    grid-column: 1 / span 5;
}

.info p {
    margin-bottom: 4vh;
}

#companies {
    margin-bottom: 2vh;
}

.companies {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 6vh;
}

.company {
    height: 6rem;
    width: auto;
    object-fit: cover;
    transition: 0.4s;
}

.company:hover {
    transform: scale(1.05);
}

.aside {
    grid-column: 9 / span 3;
    height: fit-content;
    background-color: #0A042C;
    display: flex;
    flex-direction: column;
    gap: 1vh;
    padding: 2vh 2vw;
}

.footer {
    height: fit-content;
    padding: 5vh 2vw;
    background-color: #0A042C;
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.icon {
    margin-top: 1vh;
    height: 2.6rem;
    width: auto;
    object-fit: cover;
    margin-right: 0.5vw;
    transition: 0.4s;
}

.icon:hover {
    transform: scale(1.05);
}

/* MOBILE ADAPTATION */

@media only screen and (max-width: 600px) {
    body {
        height: fit-content;
    }
    
    .menu {
        justify-content: space-between;
        padding: 5vw;
    }

    .desktop-menu {
        display: none;
    }

    .menu-toggle {
        display: block;
        font-size: 2rem;
        color: #F3F3F3;
        z-index: 10;
        transition: transform 0.3s ease-out;
    }

    .menu-links {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: #0a042cbd;
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
        flex-direction: column;
        gap: 4vw;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        transform: translateY(-100%);
        opacity: 0;
        transition: opacity 0.3s ease, transform 0.3s ease;
        z-index: 5;
    }

    .menu-links.show {
        display: flex;
        transform: translateY(0);
        opacity: 1;
    }

    .menu-links a {
        font-size: 1.8em;
        transition: color 0.2s ease;
    }

    h1 {
        font-size: 4.2rem;
        margin-bottom: 3vh;
        line-height: 4.6rem;
    }


    h2 {
        font-size: 2em;
        margin-top: 1em;
    }

    .info p {
        font-size: 2rem;
        margin-bottom: 5rem;
        line-height: 2.6rem;
    }

    .note {
        display: none;
    }

    #link,
    #copyright {
        font-size: 1.8em;
    }

    .main {
        width: 86vw;
        height: fit-content;
        margin: 10vh 3vw 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 5vh;
    }

    .companies {
        width: 86vw;
    }

    .company {
        height: 5rem;
    }

    .aside {
        padding: 5vh 2vw;
    }
}
