/* RESET AND BASE STYLES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    background-color: #F3F3F3;
}

/* FONTS */
@font-face {
    font-family: "CormorantGaramond";
    src: url("Fonts/CormorantGaramond-Regular.ttf");
}

@font-face {
    font-family: "JosefinSans";
    src: url("Fonts/JosefinSans-VariableFont_wght.ttf");
}

/* TYPOGRAPHY */
h1 {
    font-family: CormorantGaramond;
    font-weight: 100;
    font-size: 8em;
    color: #0A042C;
    margin-bottom: 5vh;
}

h2 {
    font-family: JosefinSans;
    font-weight: 400;
    font-size: 2.2rem;
    color: #0A042C;
    margin: 1.5rem 0 1rem 0;
}

p, li {
    font-family: JosefinSans;
    font-size: 2.2rem;
    font-weight: 200;
    line-height: 3rem;
    color: #0A042C;
    list-style-type: none;
}

.key {
    font-family: CormorantGaramond;
    font-weight: 600;
}

.menu_link, #website_link {
    font-family: JosefinSans;
    font-size: 2em;
    text-transform: uppercase;
    cursor: pointer;
    pointer-events: auto;
    text-decoration: none;
    text-wrap: nowrap;
}

.menu_link {
    color: #0A042C;
    text-decoration: none;
}

#website_link {
    color: #0A042C;
}

/* BUTTON STYLES */

.button {
    padding: 1.5rem 2rem; 
    width: 16rem;
    border-radius: 5rem;
    border: solid 0.1rem #0A042C;
    text-decoration: none;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    margin-top: 5vh;
    background-color: none;
    transition: width 0.4s;
}

.button:hover {
    background-color: #0a042c17;
    width: 20rem;
}

#arrow {
    width: 3rem;
    height: auto;
    transform: translateX(-60%) scale(0);
    transition: transform 0.3s;
}

.button:hover #arrow {
    transform: translateX(0) scale(1);
}


/* HERO SECTION */
.hero {
    width: 100%;
    height: fit-content;
    position: fixed;
    top: 0;
    z-index: -1;
}

.hero_image {
    width: 100%;
    height: 90vh;
    object-fit: cover;
}

/* IMAGE NAVIGATION */
.image-navigation {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
}

/* MENU */
.menu {
    display: flex;
    flex-direction: row;
    gap: 8em;
    align-items: center;
    position: absolute;
    top: 2vw;
    left: 2vw;
}

.desktop-menu {
    display: flex;
    gap: 5rem;
}

/* PAGE LAYOUT */
.page {
    width: 100%;
    background-color: #F3F3F3;
    margin-top: 90vh;
}

.main {
    width: 100%;
    padding: 5vh 2vw 10vh 2vw;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 2vw;
}

.info {
    grid-column: 1 / span 5;
}

.description {
    margin-bottom: 2vh;
}

.scope {
    margin-top: 5vh;
    grid-column: 8 / span 2;
}

.software {
    margin-top: 5vh;
    grid-column: 10 / span 2;
}

.collections_img {
    width: 100%;
    padding-bottom: 15vh;
}

/* PRINT SECTION */

.print {
    width: 100%;
    padding: 0 2vw 5vh 2vw;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 2vw;
    margin-bottom: 10vh;
}

.print_text {
    grid-column: 1 / span 5;
}

.numbers {
    grid-column: 7 / span 5;
    margin: 0 auto;
    display: flex;
    column-gap: 20%;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    margin-top: 10vh;
}

.numbers div {
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: 0;
}

.count {
    margin-bottom: 2rem;
}

.print_images {
    padding-top: 5vh;
    grid-column: 1 / span 12;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 2vw;
}

.small {
    width: 100%;
    height: 80%;
    object-fit: cover;
    grid-column: span 3;
}

.normal {
    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-column: span 4;
}

.long {
    width: 100%;
    height: 80%;
    object-fit: cover;
    grid-column: span 9;
}

/* Carousel Controls */
.arrows {
    display: none;
}

.carousel-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    margin-top: 1rem;
}

.carousel-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem; /* Button size */
    height: 4rem; /* Button size */
}

.carousel-btn img {
    width: 100%; /* Make the image fill the button */
    height: auto; /* Maintain aspect ratio */
    transition: transform 0.3s ease;
}




/* WEBSITE SECTION */

.website {
    width: 100%;
    padding: 0 2vw 15vh 2vw;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 2vw;
}

.website_text {
    grid-column: 1 / span 5;
    z-index: 1;
}

.website_video {
    grid-column: 6 / span 7;
    position: relative;
    z-index: 0;
}

#website {
    position: absolute;
    bottom: 0;
    left: -5%;
    width: 85%;
    height: auto;
    object-fit: cover;
}

#mobile {
    position: absolute;
    top: 0;
    right: 0;
    width: 25%;
    height: auto;
    object-fit: cover;
}


/* MOBILE STYLES */
@media only screen and (max-width: 600px) {
    .menu {
        padding: 2vw;
    }

    .desktop-menu {
        display: none;
    }

    h1 {
        font-size: 4.2rem;
        margin-bottom: 3vh;
        line-height: 4.6rem;
    }


    h2 {
        font-size: 2em;
        margin-top: 1em;
    }

    p, li {
        font-size: 1.8rem;
        line-height: 2.6rem;
    }

    .hero_image {
        width: 100%;
        height: 50vh;
        object-fit: cover;
    }

    .page {
        margin-top: 50vh;
    }

    .main {
        gap: 5vw;
    }

    .info {
        grid-column: 1 / span 11;
    }

    .scope {
        margin-top: 0;
        grid-column: 1 / span 5;
    }

    .software {
        margin-top: 0;
        grid-column: 7 / span 5;
    }

    .collections_img, .print {
        padding-bottom: 10vh;
    }

    .print_text, .website_text {
        grid-column: 1 / span 11;
    }

    .numbers {
        grid-column: 1 / span 12;
        margin-top: 5vw;
        flex-wrap: wrap;
        justify-content: center;
        gap: 12%;
    }

    .numbers div {
        width: 20vw;
    }

    .numbers h1 {
        margin: 0;
    }
    
    .print, .website {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 0;
        height: fit-content;
    }

    .print_images {
        width: 100%;
        display: flex;
        flex-direction: row;
        overflow-x: scroll;
        gap: 2rem;
    }

    .print_text {
        grid-column: 1 / span 11;
    }
    
    .small, .normal, .long {
        width: auto;
        height: 40vh;
    }

    .normal {
        width: 96vw;
    }

    .arrows {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    
    .website_video {
        margin-top: 5vh;
        display: flex; 
        flex-direction: column; 
        align-items: center; 
        gap: 10vw;
        width: 100%;
    }

    #website, #mobile {
        position: static;
        width: 100%;
        height: auto;
        object-fit: cover;
        flex-shrink: 0;
    }

    #mobile {
        width: 40%;
    }

    .button, .button:hover {
        margin: 5vh 0;
        width: fit-content;
    }

    #arrow {
        transform: none;
    }
}
