/* FOOTER STYLING */

.footer {
    padding: 2vw 5vh;
    background-color: #0A042C;
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

#copyright {
    font-family: PP Neue Montreal Book;
    font-size: 1.8em;
    color: #F3F3F3;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
}

#link {
    font-family: PP Neue Montreal Book;
    font-size: 1.8em;
    color: #F3F3F3;
    text-decoration: none;
    text-underline-offset: 0.1em;
    cursor: pointer;
}

#link:hover{
    text-decoration: underline #F3F3F3 1px ;
}


/* MOBILE ADAPTATION */
@media only screen and (max-width: 600px) {
    .footer {
        padding: 6vh 2vw;
        gap: 1.5vh;
    }

    #copyright, #link {
        font-size: 1.8em;
    }

    .icon {
        height: 2.4rem;
        margin-right: 1vw;
    }
}
