/* GENERAL STYLES */

* {
    margin: 0;
    padding: 0;
}

html {
    background-color: #F3F3F3;
    font-size: 62.5%;
}

/* KEY-FRAME ANIMATION */

@keyframes slide-up-fade-in {
    0% {
        opacity: 0;
        transform: translateY(40px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* FONTS & TEXT STYLES */

@font-face {
    font-family: "CormorantGaramond";
    src: url("Fonts/CormorantGaramond-Regular.ttf");
}

@font-face {
    font-family: "JosefinSans";
    src: url("Fonts/JosefinSans-VariableFont_wght.ttf");
}

.header_box {
    background-color: #0A042C;
    overflow: hidden;
}

h1 {
    font-family: CormorantGaramond;
    font-weight: 100;
    font-size: 8em;
    color: #F3F3F3;
}

h2 {
    font-family: JosefinSans;
    font-weight: 300;
    font-size: 2.2rem;
    color: #0A042C;
    margin: 1.5rem 0 1rem 0;
}

h2 strong {
    font-weight: 400;
}

.menu_link, #website_link {
    font-family: JosefinSans;
    font-size: 2em;
    text-transform: uppercase;
    cursor: pointer;
    pointer-events: auto;
    text-decoration: none;
    text-wrap: nowrap;
}

.menu_link {
    color: #f3f3f3;
    text-decoration: none;
}

#website_link {
    color: #0A042C;
}

.title {
    text-decoration: none;
}

.menu_link:hover {
    transform: scale(1.05);
    transition: 0.3s ease-in-out;
}

.feature {
    font-family: JosefinSans;
    font-size: 1.5em;
    font-weight: 300;
    width: fit-content;
    padding: 0.5em 1em;
    color: #0A042C;
    background-color: #f3f3f327;
    border-radius: 1.5em;
    border: 0.05em solid #0A042C;
    margin-bottom: 0.2em;
}

.feature.light {
    color: #F3F3F3;
    border: 0.05em solid #F3F3F3;
}

/* HOME BLOCK SECTION */

.home_block {
    width: 100%;
    height: 95vh;
    background-color: #0A042C;
}

/* MENU SECTION */

.menu-toggle, .menu-links {
    display: none;
}

.desktop-menu {
    display: flex;
    gap: 5rem;
}

.menu {
    display: flex;
    gap: 8em;
    align-items: center;
    padding-left: 2vw;
    padding-top: 2vw;
}

/* HEADER SECTION */

.header {
    padding-left: 2vw;
    margin-top: 40vh;
}

.header_box h1 {
    opacity: 0;
    transform: translateY(40px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.header_box h1.animated {
    animation: slide-up-fade-in 0.6s ease-out forwards;
}

/* CARDS STYLING */

.cards {
    width: 96vw;
    height: fit-content;
    margin: 15vh auto 15vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2vw;
    row-gap: 10vw;
}

.small_card {
    grid-column: span 1;
    height: 60vh;
    position: relative;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease-out, transform 1s ease-out;
    animation: none;
}

.big_card {
    grid-column: span 2;
    height: 80vh;
    position: relative;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease-out, transform 1s ease-out;
    animation: none;
}

.a_img {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.animated {
    animation: slide-up-fade-in 1s forwards;
}

.small_card .card_image,
.big_card .card_image {
    width: 100%; 
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}

.a_img:hover .card_image, 
.a_img:hover .card_image {
    transform: scale(1.05); 
}

.small_card:hover .card_image, 
.big_card:hover .card_image {
    transform: scale(1.05); 
}

.features {
    position: absolute;
    top: 1vw;
    left: 1vw;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    pointer-events: none;
}

.small_card:hover .features, 
.big_card:hover .features {
    opacity: 1;
}


/* BUTTONS */

#button {
    font-family: JosefinSans;
    font-size: 2em;
    color: #0A042C;
    text-transform: uppercase;
    text-decoration: none;
    text-wrap: nowrap;
}

.button {
    padding: 1.5rem 2rem; 
    width: 15rem;
    border-radius: 5rem;
    border: solid 0.1rem #0A042C;
    text-decoration: none;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    margin: 0 2vw 20vh;
    background-color: none;
    transition: width 0.4s;
}

.button:hover {
    background-color: #0a042c17;
    width: 18rem;
}

#arrow {
    width: 3rem;
    height: auto;
    transform: translateX(-60%) scale(0);
    transition: transform 0.3s;
}

.button:hover #arrow {
    transform: translateX(0) scale(1);
}


/* MOBILE ADAPTATION */

@media only screen and (max-width: 600px) {
    .custom-cursor {
        display: none; /* Hide custom cursor on mobile */
    }

    .menu {
        justify-content: space-between;
        padding: 5vw;
    }

    .desktop-menu {
        display: none;
    }

    .menu-toggle {
        display: block;
        font-size: 2rem;
        color: #F3F3F3;
        z-index: 10;
        transition: transform 0.3s ease-out;
    }

    .menu-links {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #0a042cbd;
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
        flex-direction: column;
        gap: 4vw;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        transform: translateY(-100%);
        opacity: 0;
        transition: opacity 0.3s ease, transform 0.3s ease;
        z-index: 5;
    }
    
    .menu-links.show {
        display: flex;
        transform: translateY(0);
        opacity: 1;
    } 
    
    .menu-links a {
        font-size: 1.8em;
        transition: color 0.2s ease;
    }
    
    h1 {
        font-size: 4.2rem;
        margin-bottom: 3vh;
        line-height: 4.6rem;
    }


    h2 {
        font-size: 2em;
        margin-top: 1em;
    }

    .feature {
        background-color: #f3f3f35f;
    }

    .home_block {
        height: 100vh;
    }

    .cards {
        width: 96vw;
        height: fit-content;
        margin: 10vh auto 8vh;
        display: flex;
        flex-direction: column;
        gap: 10vh;
    }

    .features {
        top: 2vw;
        left: 2vw;
        opacity: 1;
    }

    .small_card, .big_card {
        width: 100%;
        height: auto;
    }

    #button {
        font-size: 1.6em;
    }
    
    .button, .button:hover {
        width: fit-content;
        gap: 1rem;
        margin: 0 0 10vh 2vw;
    }

    #arrow {
        transform: translateX(0) scale(1);
    }
}
