/* RESET */

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%; 
}

/* FONTS & TEXT STYLES */

@font-face {
    font-family: "CormorantGaramond";
    src: url("Fonts/CormorantGaramond-Regular.ttf");
}

@font-face {
    font-family: "JosefinSans";
    src: url("Fonts/JosefinSans-VariableFont_wght.ttf");
}

h1 {
    font-family: CormorantGaramond;
    font-weight: 100;
    font-size: 8em;
    color: #0A042C;
    margin-bottom: 5vh;
    text-wrap: nowrap;
}

h2 {
    font-family: JosefinSans;
    font-weight: 400;
    font-size: 3rem;
    color: #0A042C;
    text-transform: none;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

.menu_link, #copyright {
    font-family: JosefinSans;
    font-size: 2em;
    color: #F3F3F3;
    text-decoration: underline;
    text-decoration-color: rgba(10, 4, 44, 0);
    text-decoration-skip-ink: 1em;
    text-transform: uppercase;
    cursor: pointer;
}

.dark {
    color: #0A042C;
}

#link {
    font-family: JosefinSans;
    font-size: 2em;
    color: #F3F3F3;
    text-decoration: none;
    font-weight: 300;
    cursor: pointer;
}

.menu_link:hover, #link:hover {
    text-decoration-color: #F3F3F3;
    transition: text-decoration-color 0.2s ease;
}

p, li {
    font-family: JosefinSans;
    font-size: 2.2rem;
    font-weight: 200;
    line-height: 3rem;
    color: #0A042C;
    list-style-type: none;
}

/* LAYOUT & STRUCTURE */

.hero {
    width: 100%;
    height: fit-content;
    position: fixed;
    top: 0;
    z-index: -1;
}

.hero_image {
    width: 100%;
    height: 80vh;
    object-fit: cover;
}

.menu {
    display: flex;
    flex-direction: row;
    gap: 8em;
    align-items: center;
    position: absolute;
    top: 2vw;
    left: 2vw;
    z-index: 5;
}

.desktop-menu {
    display: flex;
    gap: 5rem;
}

.page {
    width: 100%;
    background-color: #F3F3F3;
    margin-top: 80vh; 
}

.main {
    width: 96vw;
    padding: 5vh 2vw 15vh;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 2vw;
}

.info {
    grid-column: 1 / span 5; 
}

.description {
    margin-bottom: 2vh;
}

.scope {
    margin-top: 5vh;
    grid-column: 8 / span 2; 
    display: inline-block;
}

.software {
    margin-top: 5vh;
    grid-column: 10 / span 2; 
    display: inline-block;
}

.motion {
    width: 96vw;
    padding: 0 2vw 10vh 2vw;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 2vw;
}

.motion > img {
    grid-column: span 6; 
    height: auto;
    width: 100%;
    object-fit: cover;
}

.motion_text {
    grid-column: 8 / span 4; 
}

.motion_text > h2,
.motion_text > p {
    margin-bottom: 2vh;
}

.awards {
    grid-column: span 4;
    height: 20vh;
    display: flex; 
    gap: 2vw;
}

.awards > img {
    height: 100%;
    width: auto;
    max-height: 20vh;
    flex-grow: 1;
    flex-shrink: 1;
    object-fit: contain;
}


.concepts {
    width: 96vw;
    padding: 0 2vw 10vh 2vw;
    height: fit-content;
    overflow: scroll;
}

.concepts_img {
    margin-top: 4vh;
    height: 50vh;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.concepts_img > img {
    height: 100%;
    width: auto;
    object-fit: cover;
}

.footer {
    height: fit-content;
    padding: 5vh 2vw;
    background-color: #0A042C;
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.icon {
    margin-top: 1vh;
    height: 4rem;
    width: auto;
    object-fit: cover;
    margin-right: 0.5vw;
    transition: 0.4s;
}

.icon:hover {
    transform: scale(1.05);
}

/* VIDEO SECTION */

.video {
    width: 96vw;
    padding: 0 2vw 10vh 2vw;
    display: flex;
    flex-direction: column;
    gap: 2vw;
}

.video-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    height: 0;
    overflow: hidden;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

/* MOBILE ADAPTATION */

@media only screen and (max-width: 600px) {
    .menu {
        padding: 2vw;
    }

    .desktop-menu {
        display: none;
    }

    h1 {
        font-size: 5em;
    }

    h2 {
        font-size: 2.4em;
    }

    p, li {
        font-size: 1.8rem;
        line-height: 2.6rem;
    }

    #link,
    #copyright {
        font-size: 1.8em;
    }

    .hero_image {
        width: 100%;
        height: 60vh;
        object-fit: cover;
    }

    .page {
        margin-top: 60vh;
    }

    .main {
        gap: 5vw;
    }

    .info {
        grid-column: 1 / span 12;
    }

    .scope {
        margin-top: 0;
        grid-column: 1 / span 5; 
    }

    .concepts,
    .motion {
        display: flex;
        flex-direction: column;
        gap: 4vh;
    }

    .motion {
        flex-direction: column-reverse;
    }

    .software {
        margin-top: 0;
        grid-column: 7 / span 5; 
    }

    .numbers {
        margin-top: 5vw;
        flex-wrap: wrap;
        justify-content: center;
        gap: 12%;
    }

    .numbers div {
        width: 20vw;
    }

    .numbers h1 {
        margin: 0;
    }

    .footer {
        padding: 6vh 2vw;
        gap: 1.5vh;
    }

    .icon {
        height: 3.5rem;
        margin-right: 1vw;
    }
}
