/* GENERAL STYLES */

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

/* FONTS & TEXT STYLES */

@font-face {
    font-family: "CormorantGaramond";
    src: url("Fonts/CormorantGaramond-Regular.ttf");
}

@font-face {
    font-family: "JosefinSans";
    src: url("Fonts/JosefinSans-VariableFont_wght.ttf");
}

h1 {
    font-family: CormorantGaramond;
    font-weight: 100;
    font-size: 8em;
    color: #0A042C;
    margin-bottom: 5vh;
}

h2 {
    font-family: JosefinSans;
    font-weight: 400;
    font-size: 3rem;
    color: #0A042C;
    text-transform: none;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
}

p, li {
    font-family: JosefinSans;
    font-size: 2.2rem;
    font-weight: 200;
    line-height: 3rem;
    color: #0A042C;
    list-style-type: none;
}

.menu_link, #copyright {
    font-family: JosefinSans;
    font-size: 2em;
    color: #0A042C;
    text-decoration: underline #0a042c00;
    text-transform: uppercase;
    cursor: pointer;
}

#copyright {
    color: #F3F3F3;
}

#link {
    font-family: JosefinSans;
    font-size: 2em;
    color: #F3F3F3;
    text-decoration: none;
    font-weight: 300;
    cursor: pointer;
}

.menu_link:hover, #link:hover {
    text-decoration-color: #0A042C;
    transition: text-decoration-color 0.2s ease;
}

#website_link {
    font-family: JosefinSans;
    font-size: 2em;
    color: #0A042C;
    text-transform: uppercase;
    text-decoration: none;
}

.button {
    padding: 1rem 2rem; 
    width: fit-content;
    border-radius: 5rem;
    border: solid 0.1rem #0A042C;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    margin-top: 5vh;
    background-color: none;
}

.button:hover {
    background-color: #0a042c17;
    transition: 0.5s;
}

#arrow {
    width: 3rem;
    height: auto;
}

/* HERO SECTION */

.hero {
    width: 100%;
    height: fit-content;
    position: fixed;
    top: 0;
    z-index: -1;
}

.hero_image {
    width: 100%;
    height: 80vh;
    object-fit: cover;
}

/* MENU SECTION */

.menu {
    display: flex;
    flex-direction: row;
    gap: 8em;
    align-items: center;
    position: absolute;
    top: 2vw;
    left: 2vw;
}

.desktop-menu {
    display: flex;
    gap: 5rem;
}

/* PAGE CONTENT */

.page {
    width: 100vw;
    background-color: #F3F3F3;
    margin-top: 80vh;
}

.main {
    width: 96vw;
    padding: 5vh 2vw 10vh 2vw;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 2vw;
}

.info {
    grid-column: 1 / span 5; 
}

.description {
    margin-bottom: 2vh;
}

.scope {
    margin-top: 5vh;
    grid-column: 8 / span 2; 
}

.software {
    margin-top: 5vh;
    grid-column: 10 / span 2; 
}

.main_pictures {
    width: 96vw;
    padding: 0 2vw 10vh 2vw;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2vw;
}

.concepts {
    width: 96vw;
    padding: 0 2vw 10vh 2vw;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 2vw;
}

.concepts>img {
    grid-column: span 4;
    height: auto;
    width: 100%;
    object-fit: cover;
}

#conceptImage {
    grid-column: span 4;
    height: auto;
    width: 100%;
    object-fit: cover;
    transition: opacity 1s ease-in-out;
    opacity: 1;
}

.fade-out {
    opacity: 0;
}

.concept_text {
    grid-column: 6 / span 5;
}

.concept_text>h2 {
    margin-bottom: 2vh;
}

.video {
    width: 96vw;
    padding: 0 2vw 10vh 2vw;
}

/* NUMBERS SECTION */

.numbers {
    width: 80vw;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 10vh;
}

.numbers div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* FOOTER SECTION */

.footer {
    height: fit-content;
    padding: 5vh 2vw;
    background-color: #0A042C;
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

#copyright {
    margin-bottom: 1vh;
}

.icon {
    margin-top: 1vh;
    height: 4rem;
    width: auto;
    object-fit: cover;
    margin-right: 0.5vw;
    transition: 0.4s;
}

.icon:hover {
    transform: scale(1.05);
}

/* MOBILE ADAPTATION */

@media only screen and (max-width: 600px) {
    .menu {
        padding: 2vw;
    }

    .desktop-menu {
        display: none;
    }
    
    h1 {
        font-size: 5em;
    }

    h2 {
        font-size: 2.4em;
    }

    p, li {
        font-size: 1.8rem;
        line-height: 2.6rem;
    }

    #link, #copyright {
        font-size: 1.8em;
    }

    .hero_image {
        width: 100%;
        height: 50vh;
        object-fit: cover;
    }

    .page {
        margin-top: 50vh;
    }

    .main {
        gap: 5vw;
    }

    .info {
        grid-column: 1 / span 12; 
    }
    
    .scope {
        margin-top: 0;
        grid-column: 1 / span 5; 
    }

    .concepts {
        display: flex;
        flex-direction: column;
        gap: 2vw;
    }
    
    .software {
        margin-top: 0;
        grid-column: 7 / span 5; 
    }

    .numbers {
        margin-top: 5vw;
        flex-wrap: wrap;
        justify-content: center;
        gap: 12%;
    }

    .numbers div {
        width: 20vw;
    }

    .numbers h1 {
        margin: 0;
    }

    .footer {
        padding: 6vh 2vw;
        gap: 1.5vh;
    }

    .icon {
        height: 3.5rem;
        margin-right: 1vw;
    }
}
